<div class="container">
	<h2><%= @user.name.capitalize %></h2>

	<div id='user_posts'>
		<% @user.entries.each do |post| %>
		<h1>Title: <%= link_to "#{post.title}", entry_path(post) %></h1>
		<h1>Genre: <%= post.genre %></h1>
		<h1>Your Note: <%= post.content %></h1><br>
		<% end %>
	</div>

</div>
