<div class="container">
	<h1><%= @user.name.capitalize %></h1>

	<div id='user_posts'>
	  <% @user.entries.each do |post| %>
	    Title: <%= link_to "#{post.title}", entry_path(post) %> <%= post.content %> Genre: <%= post.genre %> <br>
	  <% end %>
	</div>

</div>
