  <div id="target"></div>
  <% if current_user %>
    <%= render "note_modal" %>
  <% end %>

  <ul id="albums">
  	<li id="alternative"><a href="#" class="genre">alternative</a></li>
  	<li id="classical"><a href="#" class="genre">classical</a></li>
  	<li id="country"><a href="#" class="genre">country</a></li>
  	<li id="dance"><a href="#" class="genre">dance</a></li>
  	<li id="latin"><a href="#" class="genre">latin</a></li>
  	<li id="metal"><a href="#" class="genre">metal</a></li>
  	<li id="pop"><a href="#" class="genre">pop</a></li>
  	<li id="rap"><a href="#" class="genre">rap</a></li>
  </ul>
