<div class="container">
<p>Ask a question!</p>


	<% @entries.each do |entry| %>
		<% if entry.title != nil %>
			<h1><%= entry.title %></h1>
			<p><%= entry.content %></p>
		<% else %>
			<p><%= entry.content %></p>
		<% end %>
	<% end %>
</div>
